.card_title_style {
    font-size: '28px';
    font-weight: 600;
    color: #123a77;
    text-align: center;
}

.card_content_style {
    font-size: '16px';
    font-weight: 300;
    color: '#000';
}

.pos-rel {
    position: relative;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    max-width: 270px !important;
    background-color:  #e3ecff;
    color: #000;
    text-align: left;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    right: 20%;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.truncate-text:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.card_style {
    transition: background-color 0.5s ease, box-shadow 0.4s ease;
}


.card_style.inactive {
    color: #656565;
}

.card_style:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4); 
}
